	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/07/2018 08:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-medicine-7:before { content: "\f100"; }
.flaticon-002-vitamin-c:before { content: "\f101"; }
.flaticon-003-drop:before { content: "\f102"; }
.flaticon-004-cream:before { content: "\f103"; }
.flaticon-005-nurse:before { content: "\f104"; }
.flaticon-006-doctor-1:before { content: "\f105"; }
.flaticon-007-chemical-1:before { content: "\f106"; }
.flaticon-008-transfusion:before { content: "\f107"; }
.flaticon-009-thermometer:before { content: "\f108"; }
.flaticon-010-syringe-2:before { content: "\f109"; }
.flaticon-011-medicine-6:before { content: "\f10a"; }
.flaticon-012-vitamin:before { content: "\f10b"; }
.flaticon-013-medicine-5:before { content: "\f10c"; }
.flaticon-014-syringe-1:before { content: "\f10d"; }
.flaticon-015-medicine-4:before { content: "\f10e"; }
.flaticon-016-drugs:before { content: "\f10f"; }
.flaticon-017-doctor:before { content: "\f110"; }
.flaticon-018-chemical:before { content: "\f111"; }
.flaticon-019-syrup:before { content: "\f112"; }
.flaticon-020-stethoscope:before { content: "\f113"; }
.flaticon-021-sugar-blood-level:before { content: "\f114"; }
.flaticon-022-heart:before { content: "\f115"; }
.flaticon-023-inhaler:before { content: "\f116"; }
.flaticon-024-blood:before { content: "\f117"; }
.flaticon-025-health-1:before { content: "\f118"; }
.flaticon-026-date:before { content: "\f119"; }
.flaticon-027-paste:before { content: "\f11a"; }
.flaticon-028-herbal-1:before { content: "\f11b"; }
.flaticon-029-herbal:before { content: "\f11c"; }
.flaticon-030-spray:before { content: "\f11d"; }
.flaticon-031-plaster:before { content: "\f11e"; }
.flaticon-032-medicine-3:before { content: "\f11f"; }
.flaticon-033-medicine-2:before { content: "\f120"; }
.flaticon-034-aids:before { content: "\f121"; }
.flaticon-035-health:before { content: "\f122"; }
.flaticon-036-urine:before { content: "\f123"; }
.flaticon-037-medicine-1:before { content: "\f124"; }
.flaticon-038-medicine:before { content: "\f125"; }
.flaticon-039-syringe:before { content: "\f126"; }