@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Regular.eot');
    src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay-Regular.woff') format('woff'),
        url('PlayfairDisplay-Regular.ttf') format('truetype'),
        url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Light.eot');
    src: url('Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Light.woff2') format('woff2'),
        url('Ubuntu-Light.woff') format('woff'),
        url('Ubuntu-Light.ttf') format('truetype'),
        url('Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

