/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif:400,400i,700,700i');

*{
	margin:0;
	padding:0;
	outline: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEEBF1;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}
/* For Deactiving Focus */
a:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=submit]:focus,
input[type=url]:focus,
textarea:focus, button:focus{
    outline: 0 solid;
}
a:hover{text-decoration: none}
.section-padding{
    padding:100px 0;
}

/*Main CSS Of Class:   */




.color-bg {
  background: #74D9E1;
  color: #fff;
}
.absolute-img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 532px;
  min-height: 100%;
}
.slide-text {
	padding-right: 100px;
	padding-left: 100px;
	width: 600px;
	font-size: 20px;
	line-height: 32px;
	padding-top: 99px;
	padding-bottom: 100px;
	min-height: 880px;
}
.top-left-corner {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 26px;
  position: relative;
  padding-bottom: 9px;
}
.top-left-corner::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  content: '';
  background: #fff;
}
.slide-text h1 {
  font-size: 50px;
  line-height: 64px;
  padding-top: 60px;
  padding-bottom: 70px;
}
.slide-text p {
}
.boxed-btn {
	background: #D1C609;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
	padding: 6px 40px;
	display: inline-block;
	font-size: 17px;
	border-radius: 50px;
	box-shadow: 0 11px 25px #AFA433;
}
.slide-text .boxed-btn {
  margin-top: 30px;
  margin-bottom: 20px;
}
















