/* Base CSS */

/*
    Body = Roboto .
    Heading=  Raleway.
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900|Roboto:300,400,500');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
}

/* For Deactiving Focus */
a:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=submit]:focus,
input[type=url]:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a,
a:hover {
    text-decoration: none;
}

.section-padding {
    padding: 100px 0;
}

/*Main CSS Of Class:   */



.video-section{
   /* background-image: url(../images/stephan-valentin-1415673-unsplash.jpg);*/
    background-size: cover;
    background-position: center;
    background-color: #333;
}


.video-section {
    height: 500px;
    position: relative;
    z-index: 1;
}
.video-play-btn {
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}
.hover-content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: scale(.7);
    transition: .3s;
}
.hover-content::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: black;
    z-index: -1;
    opacity: .6;
}
.video-play-btn:hover {
    color: #fff;
}
.hover-content .plus {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid;
    font-size: 20px;
    font-weight: normal;
    line-height: 36px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.hover-content p span {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
    position: relative;
    z-index: 1;
}
.hover-content p span::before {
    position: absolute;
    left: 0;
    bottom: 44%;
    width: 50px;
    height: 2px;
    content: '';
    background: #fff;
    margin-left: -69px;
}

.hover-content p span::after {
    position: absolute;
    right: 0;
    bottom: 44%;
    width: 50px;
    height: 2px;
    content: '';
    background: #fff;
    margin-right: -69px;
}
.hover-content p:last-child {
    opacity: .6;
}
.video-section:hover .hover-content{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}


.play {
    background: red;
    border-radius: 50%;
    width: 70px;
    display: inline-block;
    height: 70px;
    text-align: center;
    line-height: 71px;
    font-size: 30px;
    padding-left: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}
.video-section:hover .play{
    opacity: 0;
    visibility: hidden;
}



