/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
ul,ol{margin:0;padding:0;list-style-type: none;}



/* # All Creadit goes to RRF and My Respected Mentor Rasel Vai .
    Main CSS Files

    CLASS NO: .......
    
 */
