/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
ul,ol{margin:0;padding:0;list-style-type: none;}



/* # All Creadit goes to RRF and My Respected Mentor Rasel Vai .
    Main CSS Files

    CLASS NO:4 .......
    
 */



.section-padding {
  padding: 80px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 69px;
}
.section-title h3 {
  font-size: 32px;
  color: #666;
  position: relative;
  padding-bottom: 20px;
}
.section-title h3::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 5px;
  margin-left: -30px;
  background-color: #FADE7B;
  content: '';
  border-radius:5px;
}
.section-title h3::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: red;
  margin-left: -10px;
  left: 50%;
  bottom: 0;
}