/* Base CSS */

/*
    Body = Roboto .
    Heading=  Raleway.
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900|Roboto:300,400,500');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
}

/* For Deactiving Focus */
a:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=submit]:focus,
input[type=url]:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a,
a:hover {
    text-decoration: none;
}

.section-padding {
    padding: 100px 0;
}

/*Main CSS Of Class:   */


.service-bg{
    background-image:url(../images/Follow-Simple-Steps-to-Provide-Great-Patients-Service.jpg);
    background-size: cover;
    background-position: center;
    background-color:#333;
}
.service-bg-2{background-image: url(../images/medical-services-singapore.jpg)}
.service-bg-3{background-image: url(../images/Medical-staffers.jpg)}




.section-title {
    font-size: 20px;
    color: #666;
    margin-bottom: 70px;
}
.section-title h2 {
    text-transform: uppercase;
    color: #333;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 2px;
}
.section-title h2 span {
    display: ;
    color: #15d0ce;
}
.single-service-item {
    display: block;
    border: 1px solid #f2eaea;
    border-radius: 0px 0px 5px 5px;
}
.service-bg {
    height: 250px;
    position: relative;
    z-index: 1;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.service-bg i {
    width: 80px;
    height: 80px;
    background: #223759;
    color: #fff;
    display: block;
    border: 4px solid #fff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin-left: -40px;
}
.service-bg i:before {
    font-size: 38px;
    line-height: 79px;
    margin: 0;
}
.single-service-item h2 {
    text-align: center;
    padding: 26px;
    padding-top: 50px;
    color: #333;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 0;
    transition:.3s;
}
.single-service-item:hover .service-bg i {
    background: #15d0ce;
    border-color: #223759;
}
.single-service-item:hover h2 {
    background: #223759;
    color: #fff;
    transition:.3s;
}

/*Drop Down Menu*/

.menu-area {
    background: #223759;
}
.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu ul li {
    display: inline-block;
}
.main-menu ul li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
}


.main-menu ul li {
    position: relative;
}
.main-menu ul li ul {
    position: absolute;
    left: 0;
    top: 67px;
    width: 200px;
    background: #223759;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.main-menu ul li ul li {
    display: block;
}
.main-menu ul li ul li {
    border-bottom: 1px solid #092450;
}
.main-menu ul li ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.main-menu ul li > a{transition: .3s}
.main-menu ul li:hover > a {
    background: red;
}
.main-menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
}




